body {

	height: 100vh;

}


.btn-xl {
	height: 8em;
    font-size: 1.5em;
}

body{
    background-color: #b0c4de;
}

input[type="number"] {
	display: block;
	margin: 0;
	font-family: sans-serif;
	font-size: 18px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
}
input[type="number"]:focus {
	outline: none;	
}

#timeRemainContainer {

	font-size: 2em;

}

#addMemoryButton {

	height: 6em;
	font-size: 1.5em;

}

#cancelTimerButton {

	height: 4em;
	font-size: 1.2em;
	background-color: #99CCFF;

}

#backToMainButton{

	height: 2.2em;
	font-size: 1.2em;
	background-color: #99CCFF;

}

.startCamera {
	
	background-color: #944DDB;
	position: absolute;
	z-index: 9999;
	margin-top: 0px;
	top:0;
	right:0;
	height: 100vh;
	width: 100vw;
	text-align: center;
	font-size: 1.2em;

}

